.body--open {
  overflow: hidden;
}
.internal-layout {
  // display: flex;
  // min-height: calc(100vh - var(--space-base) - var(--space-base) - var(--brand-height));
  min-height: 100vh;
  background-color: var(--color-neutral-1);
}
.internal-layout__nav {
  padding: var(--space-none) var(--space-none) var(--space-l);
  background: url("#{$img-path}/footer-bg.svg") var(--color-main-blue) no-repeat bottom center;
  background-size: 100%;
  width: var(--side-nav-width);
  position: fixed !important;
  height: 100vh;
  overflow: auto;
  top: 0;
  transition: width var(--side-nav-duration) var(--side-nav-transition);
  // min-width: 14em;
  @include media-breakpoint-down(lg) {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    transition: all 0.3s ease-in-out;
    .body--open & {
      opacity: 1;
      visibility: visible;
    }
  }
}
.internal-layout__content {
  flex: 1;
  padding: calc(var(--header-height) + var(--space-s)) var(--space-l) var(--space-s);
  position: relative;
  margin-inline-start: var(--side-nav-width);
  transition: margin var(--side-nav-duration) var(--side-nav-transition);
}

.internal-layout--filter {
  .internal-layout__content {
    padding: var(--header-height) var(--space-none) var(--space-none) var(--space-l);
    [dir="rtl"] & {
      padding: var(--header-height) var(--space-l) var(--space-none) var(--space-none);
    }
  }
}
.internal-layout__overlay {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  @include media-breakpoint-up(sm) {
    display: none;
  }
}

.is-side-nav-closed {
  --side-nav-width: 50px;
  .side-nav__header {
    padding: var(--space-s) var(--space-none);
    justify-content: center;
    .mat-icon-button {
      @extend .margin-none;
    }
    .brand {
      display: none;
    }
  }
  .side-nav__text {
    display: none;
  }
  .side-nav .side-nav__menu .side-nav__link .mat-list-item-content {
    padding: 0 var(--space-s);
    justify-content: center;
  }
  .side-nav__icon {
    @extend .margin-none;
  }
  .main-header__logo {
    display: block;
  }
}
