@mixin colors-variation($colors) {
  :root {
    @each $label, $color in $colors {
      --color-#{$label}: #{$color};
    }
  }

  @each $label, $color in $colors {
    .color-#{$label} {
      color: #{$color} !important;
    }
  }

  @each $label, $color in $colors {
    .background-#{$label} {
      background-color: #{$color} !important;
    }
  }

  @each $label, $color in $colors {
    .border-color-#{$label} {
      border-color: #{$color} !important;
    }
  }

  @each $label, $color in $colors {
    .stroke-#{$label} {
      stroke: #{$color} !important;
    }
  }

  @each $label, $color in $colors {
    .fill-#{$label} {
      fill: #{$color} !important;
    }
  }
}
