:root {
  @each $border, $value in $border-sizes {
    --border-size-#{$border}: #{$value};
  }
  @each $border, $value in $border-radii {
    --border-radius-#{$border}: #{$value};
  }
}

@each $size, $value in $border-sizes {
  .border-size-#{$size} {
    border: var(--border-size-#{$size}) solid currentColor !important;
  }
}
@each $size, $value in $border-radii {
  .border-radius-#{$size} {
    border-radius: var(--border-radius-#{$size}) !important;
  }
}
.border-grey-3 {
  border: var(--border-size-base) solid var(--color-grey-3) !important;
}

.border-start {
  border: 1px solid var(--color-grey-4);
  -webkit-border-start: 5px solid var(--color-main-blue);
  border-inline-start: 5px solid var(--color-main-blue);
  &--error {
    -webkit-border-start: 5px solid var(--color-red);
    border-inline-start: 5px solid var(--color-red);
  }
}
