.shadow-inset-1 {
  box-shadow: var(--shadow-inset-1) !important;
}

.shadow-0 {
  box-shadow: var(--shadow-0) !important;
}

.shadow-1 {
  box-shadow: var(--shadow-1) !important;
}

.shadow-2 {
  box-shadow: var(--shadow-2) !important;
}

.shadow-3 {
  box-shadow: var(--shadow-3) !important;
}

.shadow-4 {
  box-shadow: var(--shadow-4) !important;
}

.shadow-5 {
  box-shadow: var(--shadow-5) !important;
}

.shadow-6 {
  box-shadow: var(--shadow-6) !important;
}
